<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user
          [user]="user"
          [selected]="user.id === selectedUser()?.id"
          (select)="onSelectUser($event)"
        />
      </li>
    }
  </ul>
  <div>
    @if (selectedUser()) {
      <app-task-list
        [userName]="selectedUser()!.name"
        [userId]="selectedUser()!.id"
      />
    } @else {
      <h2>Select a user to view their tasks.</h2>
    }
  </div>
</main>
