<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Investment Value</th>
      <th>Interest (Year)</th>
      <th>Total Interest</th>
      <th>Invested Capital</th>
    </tr>
    @for (row of table(); track $index) {
      <tr>
        <th>{{ row.year }}</th>
        <th>{{ row.investmentValue | currency }}</th>
        <th>{{ row.interestAmount | currency }}</th>
        <th>{{ row.totalInterest | currency }}</th>
        <th>{{ row.investmentCapital | currency }}</th>
      </tr>
    }
  </thead>
</table>
